---
layout: default
---
<section aria-label="Blog archive">
  <h1>{{ page.title | default: 'Blog' | escape }}</h1>
  <p class="nz-lede">Things I've built, things I've learned, and thoughts I want to work through.</p>
  {{ content }}
  <ul class="nz-writing-list">
    {% for post in site.posts %}
    <li>
      <time class="nz-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%-d %b %Y' }}</time>
      <div>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        <p>{{ post.description | default: post.excerpt | strip_html | normalize_whitespace | truncatewords: 28 | escape }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
